# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Table of Data Science tools
*  examples of evaluating arithmetic expressions in Python

 Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Keras
5. SciPy

|Data Science Tools|
|------|
|Jupyter notebook|
|RStudio|
| VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60
x = 200/60
print("the value of 200 minutes in hours is",x)

the value of 200 minutes in hours is 3.3333333333333335

## Author
Santoshi Thapa